Source: python-foxdot
Section: python
Priority: optional
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends:
 debhelper (>= 9.0.0),
 dh-python,
 python3-all,
 python3-setuptools (>= 0.6.24)
Standards-Version: 3.9.3
X-Python-Version: >= 3
Homepage: https://github.com/Qirky/FoxDot/
Vcs-Git: https://github.com/HuayraLinux/pkg-foxdot.git
Vcs-Browser: https://github.com/HuayraLinux/pkg-foxdot

Package: python3-foxdot
Architecture: all
Depends: ${shlibs:Depends}, ${python3:Depends}, sc3-plugins (>= 3.7), supercollider (>= 3.7)
Description: Python driven environment for Live Coding - Python 3
 FoxDot is a Python programming environment that provides a fast and
 user-friendly abstraction to SuperCollider. It also comes with its own IDE,
 which means it can be used straight out of the box; all you need is Python
 and SuperCollider and you're ready to go!

