#!/usr/bin/make -f

export PYBUILD_NAME=foxdot
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:

override_dh_auto_clean:

override_dh_auto_configure:
	echo "Test" > README.md
	dh_auto_configure

