#!/usr/bin/make -f

export PYBUILD_NAME=foxdot
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:

override_dh_auto_clean:

override_dh_auto_configure:
	# fix termporal hasta corregir el problema de enconding
	mv README.md README.orig.md
	echo "See README.orig.md" > README.md
	dh_auto_configure

